* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

[role='navigation'] {
    outline: none !important;
}

html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    overflow-y: scroll;
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #1a1a1a;
}

/* For any other scrollable elements */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}